.header{
    background-color: aquamarine;
    min-height: 300px;
}
.wrapper{
overflow: hidden;
}
.blog{
    background-color: rgb(179, 105, 15);
    min-height: 300px;
    width: 50%;
    float: left;
}
.contact{
    background-color: darkolivegreen;
    min-height: 300px;
    width: 50%;
    float: right;
}
.container{
    overflow: hidden;
}
.details1{
    background-color: crimson;
    min-height: 200px;
    width: 25%;
    float: left;
}
.details2{
    background-color: rgb(39, 52, 235);
    min-height: 200px;
    width: 25%;
    float: left;
}
.details3{
    background-color: rgb(224, 222, 70);
    min-height: 200px;
    width: 25%;
    float: left;
}
.details4{
    background-color: rgb(17, 112, 17);
    min-height: 200px;
    width: 25%;
    float: left;
}
.footer{
    background-color: palevioletred;
    min-height: 100px;
    width: 100%;
}
